@import "tailwindcss";
@theme {
  --color-primary: #9c0000;
  --color-background: #fcfcfc;
  --color-font: #121212;

  --opacity-overlay: 0.65;
  --opacity-glass: 0.1;

  --font-poppins: "Poppins", sans-serif;
  --font-akshar: "Akshar", sans-serif;
}
